.Header {
  display: flex;
  flex-direction: column;
}

.HeaderNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 52px;
  margin-bottom: 50px;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
}
.HeaderNavLink {
  display: flex;
  list-style-type: none;
}

.HeaderLink {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  text-decoration: none;

  color: #2f3035;
}
.LogoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.LogoText {
  font-family: Staatliches;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  /* identical to box height */

  text-transform: capitalize;

  /* Основной текст */

  color: #2f3035;
}

.UserNav {
  display: flex;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
  background: #f0f0f4;
  padding: 15px 0;
  list-style-type: none;

  .mainMenuLink {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;

    text-decoration: none;
    color: #2f3035;
  }
}
