@import "../../../scss/abstracts/_variables.scss";

.header {
  display: flex;
  flex-direction: column;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 52px;
  margin-bottom: 50px;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
}
.headerNavLink {
  display: flex;
  list-style-type: none;
}

.headerLink {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  text-decoration: none;

  color: $primaryTextColor;
}
.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoText {
  font-family: Staatliches;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  /* identical to box height */

  text-transform: capitalize;

  /* Основной текст */

  color: $primaryTextColor;
}

.userNav {
  display: flex;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
  background: $basiccClor;
  padding: 15px 0;
  list-style-type: none;
}
.mainMenuLink {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;

  text-decoration: none;
  color: $primaryTextColor;
}
