.Wrapper {
  max-width: 370px;
  max-height: 129px;

  background: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
}

.CategoriesIMg {
  width: 130.21px;
  height: 100px;

  position: absolute;
  right: 0;
  top: 0;
  object-fit: contain;
}
