.main {
  max-width: 870px;
  margin-right: 36px;
}
.main .swiper-container .swiper-button-prev {
  color: #fff;
}
.main .swiper-container .swiper-button-next {
  color: #fff;
}

.main .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  border: 1px solid #ffffff;
}

.main .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}
