@import "../../../../scss/abstracts/variables";
.productsBtn {
  background: transparent;
  border: none;
  &:hover,
  &:focus {
    outline: transparent;
    background-color: $basiccClor;
    cursor: pointer;
  }
}
