@import "../../../scss/abstracts/_variables.scss";

.startPage {
  margin: 0 auto;

  .promotions {
    display: flex;
  }

  .searchPage {
    display: block;
    position: relative;

    margin-bottom: 80px;

    .choiceWrapper {
      list-style-type: none;
      display: flex;
      padding: 0;

      .choice {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: $primaryTextColor;
      }
    }
    .searchForm {
      .search {
        width: 100%;
        height: 50px;

        background: $basiccClor;
        border-radius: 3px;
      }
      .searchBtn {
        width: 145px;
        height: 54px;

        font-family: SF Pro Display;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;

        letter-spacing: 0.12em;
        text-transform: uppercase;

        color: $primaryColor;
        background: $accentColor;
        border-radius: 3px;

        position: absolute;
        bottom: 0;
        right: -7px;
      }
    }
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
  }
}
